{% extends "automacoes_qgis/base.html" %}

{% block title %}Visualizar Mapa{% endblock %}

{% block content %}
<h3>🌍 Visualizando: {{ shapefile }}</h3>

<div class="mt-3" style="height: 600px;">
  {{ mapa|safe }}
</div>

<div class="mt-4">
  <a href="{% url 'visualizar_shp' %}" class="btn btn-outline-primary me-2">
    🔁 Escolher outro shapefile
  </a>

  <a href="{% url 'voltar_etapa' %}" class="btn btn-warning me-2">
    🔄 Retomar onde parei
  </a>

  <a href="{% url 'upload_dxf' %}" class="btn btn-outline-danger">
    ⬅️ Voltar ao início
  </a>
</div>
{% endblock %}
